<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
    <script src="routing.js"></script>
    <script src="app.js"></script>
    <script src="https://cdn.rawgit.com/MrRio/jsPDF/master/dist/jspdf.debug.js"></script>
    <script src="https://cdn.rawgit.com/MrRio/jsPDF/master/libs/html2pdf.js"></script>
    <!-- https://cdn.rawgit.com/MrRio/jsPDF/master/examples/html2pdf/showcase_supported_html.html -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Panels</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="./resources/mdl/material.css">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico?">
    <link rel="stylesheet" href="assets/styles/style.css">
    <link rel="stylesheet" href="assets/styles/paletteBlueGreyMD.css">
    <link rel="stylesheet" href="resources/mdl/mdl-date/mdl-date-textfield.min.css">
    <link rel="stylesheet" href="resources/c3/c3.min.css">
    <link rel="stylesheet" href="assets/styles/auth.css">
    <link rel="stylesheet" href="assets/styles/bootloader.css">
    <link rel="stylesheet" href="assets/styles/loginLoaderProcessBar.css">
    <link rel="stylesheet" href="assets/styles/attachExcelAnimation.css">
    <link rel="stylesheet" href="assets/styles/statsTableStyle.css">
    <link href="assets/styles/table.css" rel="stylesheet" />

    <link href="assets/styles/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/styles/references.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

</head>
<body ng-app="panelsApp" ng-controller="MainController" ng-cloak>

<!-- Modal (Pop up when detail button clicked) -->
<div class="modal fade" id="lecturersModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">x</span></button>
                <h4 class="modal-title" id="lecturersModalLabel">{{form_title}}</h4>
            </div>
            <div class="modal-body">

                <form name="frmEmployees" class="form-horizontal" novalidate="">

                    <div class="form-group">
                        <label  class="col-sm-3 control-label">Name{{a}}</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control has-error" id="name" name="name"
                                   placeholder="LecturerName" value="{{name}}"
                                   ng-model="lecturers.name" ng-required="true">

                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn-save" ng-click="save(modalstate, id)"
                >Save
                </button>
            </div>
        </div>
    </div>
</div>
    <!-- Always shows a header, even in smaller screens. -->
    <div id="menu" class="mdl-layout mdl-js-layout mdl-layout--fixed-header" ng-class="layout">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row dark-primary-color">

                <button ng-show="isLogin()" ng-click="home()" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">home</i>
                </button>

                <!-- Title -->
                <span class="mdl-layout-title">{{translation[headerTitle]}}</span>
                <div class="mdl-layout-spacer"></div>
                <span class="mdl-layout-title">{{projectName}}</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->


                <div id="alerts" class="alerts" ng-show="isManager()">
                    <!--ALERTS FOR MANAGERS-->
                    <div class="mdl-badge" data-badge={{openAlertCount}}></div>

                </div>


                <!--DropDown List Of Alerts            -->
                <!-- <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="alerts">
                  <li ng-click="alertInfo(x)" ng-repeat_="x in getAlerts()" class="mdl-menu__item">{{x.message}}</li>
                </ul> -->


                <nav class="mdl-navigation">
                    <select style="outline: none" class="mdl-textfield__input mdl-color--white-100 mdl-color-text--white"
                            ng-change="translate()" ng-model="selectedLanguage">
                        <option value="en">English</option>
                        <option value="he">עברית</option>
                    </select>
                </nav>


            </div>
        </header>

        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">
                <!-- <img src="assets/img/logo.png" class="logo" alt="Panels logo"> -->
                <div class="mdl-color--black mdl-color-text--yellow">PANELS</div>
            </span>
            <!--Admin Menu START here-->
            <ul class="adminMenu">

                <li ng-hide="chengeMenu">
                    <button id="managementList" class="mdl-button mdl-js-button">
                        <i class="material-icons">card_travel</i> {{translation.managementList}}
                    </button>
                </li>
                <li ng-hide="chengeMenu">
                    <button id="surveysList" class="mdl-button mdl-js-button">
                        <i class="material-icons">done</i> {{translation.surveysList}}
                    </button>
                </li>
                <!-- References-->
                <li ng-hide="chengeMenu">
                    <button id="referencesList" class="mdl-button mdl-js-button">
                        <i class="material-icons">done</i> {{translation.referencesList}}
                    </button>
                </li>

                <li>
                    <button id="reportsList" class="mdl-button mdl-js-button">
                        <i class="material-icons">backup</i> {{translation.reportsList}}
                    </button>
                </li>



                <li>
                    <button id="alertsBtn"
                            ng-click="isManager() ? alertTable() : createAlert()"
                            class="mdl-button mdl-js-button">

                        <i class="material-icons">warning</i> {{translation.alertsBtn}}
                    </button>
                </li>

                <li ng-show="isDiklaCompany() && isProjectSelect()">

                    <div class="mdl-button--primary mdl-button--file mdl-color-text--black">
                        <div class="mdl-button mdl-js-button">
                            <b>{{translation.loadMonthlyData}}</b>
                            <input type="file" file-model="selectedFileForDikla" />
                        </div>
                        <span ng-show="selectedFileForDikla"
                              style="width: 12px;" ng-click="uploadFile(project.questionary.id,myFile,$index)"
                              class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file mdl-color-text--black">
                            <i class="material-icons">send</i>
                        </span>
                        <svg id="{{'svgSpinner'+$index}}"
                             ng-show="showLoader"
                             style="margin-right: 10px;"
                             class="spinner"
                             width="25px"
                             height="25px"
                             viewBox="0 0 66 66"
                             xmlns="http://www.w3.org/2000/svg">
                            <circle class="path"
                                    fill="none"
                                    stroke-width="6"
                                    stroke-linecap="round"
                                    cx="33"
                                    cy="33"
                                    r="30"></circle>
                        </svg>
                    </div>
                </li>

                <li ng-if="isProjectSelect()">
                    <button class="mdl-button mdl-js-button"
                            ng-click="exportToXLS()">
                        <b>{{translation.ExportToExcel}}</b>
                    </button>
                </li>
                <li ng-if="isProjectSelect()">
                    <button class="mdl-button mdl-js-button"
                            ng-click="exportToPDF()">
                        <b>{{translation.ExportToPDF}}</b>
                    </button>
                </li>
                <li ng-if="isProjectSelect()">
                    <button class="mdl-button mdl-js-button"
                            ng-click="showStatistic()">
                        <b>{{translation.Statistics}}</b>
                    </button>
                </li>
                <li ng-if="isProjectSelect()">
                    <button class="mdl-button mdl-js-button" ng-click="showtimeLineChart()">
                        <b>{{translation.TimeLineChart}}</b>
                    </button>
                </li>

                <li class="mdl-button-logout">
                    <button ng-click="logout()"
                            id="quit"
                            class="
                            mdl-button
                            mdl-js-button
                            mdl-button--raised
                            mdl-button--colored
                            mdl-color--yellow
                            mdl-color-text--black
                            mdl-js-ripple-effect
                            ">
                        <i class="material-icons md-light">exit_to_app</i>
                        {{translation.quit}}
                    </button>
                </li>


            </ul>
            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="managementList">
                <li ui-sref="createcompany" class="mdl-menu__item">{{translation.CreateOrganization}}</li>
                <li ui-sref="createproject" class="mdl-menu__item">{{translation.CreateProject}}</li>
                <li class="mdl-menu__item">{{translation.EditOrganization}}</li>
                <li class="mdl-menu__item">{{translation.EditProject}}</li>
            </ul>

            <ul ng-hide="chengeMenu" class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="surveysList">
                <li class="mdl-menu__item">{{translation.CreateSurvey}}</li>
                <li class="mdl-menu__item">{{translation.EditSurvey}}</li>
                <!--<li class="mdl-menu__item">{{translation.ViewSurvey}}</li>-->
            </ul>

            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="reportsList">
                <li class="mdl-menu__item">{{translation.ViewReports}}</li>
                <li class="mdl-menu__item">{{translation.ExportReports}}</li>
            </ul>

            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="referencesList">

                <li ui-sref="events" class="mdl-menu__item">{{translation.Events}}</li>
                <li ui-sref="lecturers" class="mdl-menu__item">{{translation.Lectures}}</li>
                <li ui-sref="questionary" class="mdl-menu__item">{{translation.Questionnaires}}</li>
            </ul>

            <!--Admin Menu END here-->
        </div>
        <main class="mdl-layout__content">
            <div class="page-content">
                <div ui-view></div>
            </div>
        </main>
    </div>
    <!-- test-->

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="./resources/mdl/material.js"></script>
    <script src="resources/mdl/mdl-date/mdl-date-textfield.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="resources/c3/c3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular-resource.min.js"></script>
    <script src="./imports/html2canvas.js"></script>
    <script src="./imports/pdfmake.min.js"></script>
    <script src="./imports/vfs_fonts.js"></script>
    <script src="./imports/FileSaver.js"></script>
    <script src="./imports/jspdf.js"></script>

    <!-- 3.01.18 -->
    <script src="./imports/checklist-model.js"></script>



    <!--angular material need this-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>


    <!--<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>-->
    <script src="./services/modalService.js"></script>
    <script src="./services/chartDataService.js"></script>
    <script src="./services/HelperService.js"></script>
    <script src="./controllers/charts.controller.js"></script>
    <script src="./controllers/companies.controller.js"></script>
    <script src="./controllers/events.controller.js"></script>
    <script src="./controllers/lecturers.controller.js"></script>
    <script src="./controllers/questionary.controller.js"></script>
    <script src="./controllers/questions.controller.js"></script>
    <script src="./controllers/answers.controller.js"></script>


    <script src="./controllers/project.controller.js"></script>
    <script src="./commonn/DialogController.js"></script>
    <script src="controllers/auth.controller.js"></script>
    <script src="controllers/alert.controller.js"></script>



</body>
</html>