<style>
    /** Mobile **/
    @media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
        .mdl-layout__drawer-button{
            visibility: hidden;
        }
    }

    /** Tablet **/
    @media only screen and (min-width : 768px) and (max-width : 1024px) {
        .mdl-layout__drawer-button{
            visibility: hidden;
        }
    }

    /** Tablet (landscape) **/
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
        .mdl-layout__drawer-button{
            visibility: hidden;
        }
    }
</style>

<div ng-controller="AuthCtrl">

    <!-- login loader animation -->
    <div ng-show="loginProcess" id="loader">
        <div id="d1"></div>
        <div id="d2"></div>
        <div id="d3"></div>
        <div id="d4"></div>
        <div id="d5"></div>
    </div>
    <!-- end login loader animation -->

    <div class="form-container" ng-hide="loginProcess">
        <hgroup>
            <h1> {{translation.welcome}} Panels inc.</h1>
            <h3>{{translation.loginToContinue}}</h3>
        </hgroup>
        <form>
            <div class="group">
                <input ng-keyup="$event.keyCode == 13 && getLogin()" ng-model="login" id="login" type="text" placeholder="{{translation.loginPlace}}"><span class="highlight"></span><span
                    class="bar"></span>
            </div>
            <div class="group">
                <input ng-keyup="$event.keyCode == 13 && getLogin()" ng-model="pass" id="pass" type="password" placeholder="{{translation.passwordPlace}}"><span
                    class="highlight"></span><span
                    class="bar"></span>
            </div>
            <p ng-bind="alert" style="text-align: center; color: darkred">{{alert}}</p>
            <button ng-click="getLogin()" id="button" type="button" class="button buttonLogin mdl-color-text--black">{{translation.button}}
                <div class="ripples buttonRipples">
                    <span class="ripplesCircle"></span>
                </div>
            </button>
        </form>
    </div>
</div>

<script src="./resources/auth.js"></script>
