<style>
    .customAlert{
        width: 80%;
        margin-left: 10%;
    }
</style>


<div ng-controller="AlertCtrl" class="customAlert mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text">Custom Allert</h2>
    </div>
    <div class="mdl-card__supporting-text">
        To send custom alert please choose project id type text and push send button
    </div>

    <input id="textAlert" ng-model="textAlert" type="text" placeholder="text massage">


        <md-select ng-model="company">
            <md-option><em>Choose company...</em></md-option>
            <md-option ng-repeat="x in getCompanies()" ng-value="x.id">
                {{x.name}}
            </md-option>
        </md-select>


    <button ng-click="sendCustomAlert()"id="button" class="button buttonBlue" type="button">SEND
        <div class="ripples buttonRipples">
            <span class="ripplesCircle"></span>
        </div>
    </button>


</div>