<div class="mainView" style="min-width: 600px; min-height: 300px; padding-right: 40px; padding-top: 30px">
    <div id="chart4_1" style="display: inline-block; margin-bottom: 30px"></div>
    <div id="chart4_2" style="display: inline-block; margin-bottom: 30px"></div>
    <div id="chart4_3" style="display: inline-block; margin-bottom: 30px"></div>
    <div id="chart4_4" style="display: inline-block; margin-bottom: 30px"></div>
    <div id="chart4_5" style="display: inline-block; margin-bottom: 30px"></div>
</div>