


    <div class="mainView" ng-hide="showLoader" id="lecturers" ng-controller="LecturersCtrl">

        <div id="table-lecturers">

        <h1 class="btn-lg btn-info">Lectures7777</h1>

            <table class="table table-bordered">
                <thead style="text-align: center">
                <tr>
                    <th  class="col-md-2">id</th>
                    <th  class="col-md-8">Name</th>

                    <th>
                        <button id="btn-add" class="btn btn-primary btn-xs" ng-click="addNew()">
                            Add New  </button>
                    </th>
                </tr>
                </thead>

                <tbody>

                <tr ng-repeat="lecturer in lecturers | orderBy: '-id'"
                    ng-include="getIdHtml(lecturer)"></tr>

                </tbody>
            </table>

            <script type = "text/ng-template" id="view">
                <td>{{lecturer.id}}</td>
                <td>{{lecturer.name}}</td>
                <td>
                    <button class="btn btn-default btn-xs btn-warning" ng-click="copyRow(lecturer)">Edit</button>
                    <button class="btn btn-danger btn-xs btn-delete" ng-click="confirmDelete(lecturer)">Delete
                    </button>
                </td>
            </script>
            <script type = "text/ng-template" id="edit">
                <td>{{lecturer.id}}</td>
                <td>
                    <form class="formNone" ng-submit="saveData($index)">
                        <input type="text" ng-model="editRow.name" />
                    </form>
                </td>
                <td>
                    <button class="btn btn-primary btn-xs" ng-click="saveData($index)"/>Save</button>
                    <button class="btn btn-default btn-xs btn-warning" ng-click="reset()"/>Cancel</button>

                </td>
            </script>
        </div>

    </div>




