table.flat-table tr td:hover {
    background: rgb(247, 164, 89);
    color: #FFF;
}
.flat-table {
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 115%;
    overflow: auto;
    width: 100%;
    background:#eee;
    padding: 13px;
}
  
.flat-table  th {
    background-color: rgb(249, 118, 0);
    color: white;
    font-weight: normal;
    padding: 20px 30px;
    text-align: center;
  }

.flat-table tr td {
    background-color: #FFF;
    color: rgb(111, 111, 111);
    padding: 20px 30px;
  }

.flat-table tr td:last-child{
    background: rgb(245, 217, 191);
}
.flat-table .pointer{
    cursor: pointer;
}